{% macro render_form(form='', title='', href='') %}
<div class="x_title">
                        <h2>{{title}}
                        </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br/>
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" method="POST">
                            {{form.hidden_tag()}}
                            {% for field in form %}
                

                            {% if "csrf_token" != field.name %}
                            {% if field.name != "submit" %}
                                <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">{{field.label}}

                                {% for valid in field.validators%}
                                    {% if "DataRequired" == valid.__class__.__name__ %}
                                        <span class="required">*</span>
                                    {% endif%}
                                 {% endfor %}
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">

                            {{ field(class="form-control col-md-7 col-xs-12") }}
                                </div>
                            </div>
                            {% else %}
                                <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    {{field(class="btn btn-success")}}
                                    
                                </div>
                            </div>
                            {% endif %}

                            {% endif %}
                            {% endfor %}
                            
                            

                        </form>
                    </div>
{% endmacro%}

{% macro render_table(rows, headers) %}

<table id="datatable" class="table table-striped table-bordered">
    <thead>
    <tr>

    {% for header in headers %}
        <th>{{ header }}</th>
    {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for n in range(100) %}
    {% for row in rows %}
        <tr>
            {% for head in headers %}
                <td>{{ row| attr(head) }}</td>
            {% endfor %}
        </tr>    
    {% endfor %}
    {% endfor %}
    </tbody>

</table>
    
{% endmacro %}